.input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  background-color: var(--color-bg-muted);
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: var(--color-text);
}

.input::placeholder {
  color: var(--color-text-muted);
}

.input:focus {
  outline: none;
  border-color: #a8a8a8;
}
